/*reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


/*
1 vị trí
2 kích thước
3 màu sắc
4 kiểu dáng
*/

#main {}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav li {
    position: relative;
    font-size: 15px;
}

#nav>li>a {
    color: aliceblue;
    text-transform: uppercase;
}

#nav li a {
    color: aliceblue;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav>li {
    display: inline-block;
}


/* dau > de chi den con truc tiep khong anh huong den the a cap 2*/

#nav>li:hover>a {
    color: rgb(0, 0, 0);
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: rgb(0, 0, 0);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover {
    color: rgb(0, 0, 0);
    background-color: #ccc;
}

.ti-angle-down {
    color: white;
    font-size: 10px;
}

#nav li:hover .ti-angle-down {
    display: none;
}

.ti-angle-up {
    display: none;
}

#nav li:hover .ti-angle-up {
    display: inline-block;
    font-size: 10px;
    color: white;
    line-height: 46px;
}

#header {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    /* thuộc tính z-index để tạo độ nổi cho header
    mặc dù đã áp dụng fixed cho header*/
}

#header .search {
    color: white;
    line-height: 46px;
    padding: 0 15px 0 15px;
}

#header .search:hover {
    width: 46px;
    height: 46px;
    background-color: red;
}

#header .search:hover i {
    font-size: 20px;
    cursor: pointer;
    /*cursor là thuộc tính để thay đổi hình dạng chuột*/
}

#slider {
    padding-top: 50%;
    margin-top: 46px;
    background-image: url('/Gym/assets/img/slider/anh1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content {
    color: #ffffff;
    position: absolute;
    text-align: center;
    bottom: 47px;
    width: 100%;
}

#slider .text-content .text-heading {
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-content .text-child {
    font-size: 15px;
}